.mainNavigation {
  position: absolute;
  top: 60px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  gap: 20px;
}
.navigationLink {
  display: inline-block;
  padding: 12px 0;

  color: inherit;
}
