.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 0;
}
.headerIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-family: Mulish, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;

  background-color: transparent;
}
.headerIcon > svg {
  width: 40px;
  height: 40px;
}
.headerLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 20px;

  color: inherit;
}

.rotated {
  transform: rotate(90deg);
}
.language {
  display: flex;
  gap: 10px;
}
.languageButton {
  width: 45px;
  height: 45px;
  padding: 10px;

  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #121212;
}
