.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  min-width: 320px;
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1272px) {
  .container {
    padding: 0 16px;
    max-width: 1272px;
  }
}
